{% extends "layout.html" %}

{% block content %}

<h2>Clientes</h2>

<form method="POST" action="/novo_cliente">

<div class="mb-3">
<label>Nome</label>
<input type="text" name="nome" class="form-control">
</div>

<div class="mb-3">
<label>Telefone</label>
<input type="text" name="telefone" class="form-control">
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control">
</div>

<div class="mb-3">
<label>CPF</label>
<input type="text" name="cpf" class="form-control">
</div>

<div class="mb-3">
<label>Endereco</label>
<input type="text" name="endereco" class="form-control">
</div>

<div class="mb-3">
<label>Cep</label>
<input type="text" name="cep" class="form-control">
</div>

<div class="mb-3">
<label>Cidade</label>
<input type="text" name="cidade" class="form-control">
</div>

<div class="mb-3">
<label>Estado</label>
<input type="text" name="estado" class="form-control">
</div>


<button type="submit" class="btn btn-primary">
Cadastrar
</button>

</form>

<hr>

<table class="table">

<tr>
<th>Nome</th>
<th>Telefone</th>
<th>Email</th>
<th>CPF</th>
<th>Endereco<th>
<th>Cep<th>
<th>Cidade<th>
<th>Estado<th>
<th>Ações</th>
</tr>

{% for c in clientes %}

<tr>

<td>{{c["nome"]}}</td>
<td>{{c["telefone"]}}</td>
<td>{{c["email"]}}</td>
<td>{{c["cpf"]}}</td>
<td>{{c["Endereco"]}}</td>
<td>{{c["Cep"]}}</td>
<td>{{c["Cidade"]}}</td>
<td>{{c["Estado"]}}</td>

<td>

<a href="/editar_cliente/{{c['id']}}" class="btn btn-warning btn-sm">
Editar
</a>

<a href="/excluir_cliente/{{c['id']}}" class="btn btn-danger btn-sm">
Excluir
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}