{% extends "layout.html" %}

{% block content %}

<h2>Editar Cliente</h2>

<form method="POST">

<div class="mb-3">
<label>Nome</label>
<input type="text" name="nome" class="form-control" value="{{cliente[1]}}">
</div>

<div class="mb-3">
<label>Telefone</label>
<input type="text" name="telefone" class="form-control" value="{{cliente[2]}}">
</div>

<div class="mb-3">
<label>Email</label>
<input type="text" name="email" class="form-control" value="{{cliente[3]}}">
</div>

<div class="mb-3">
<label>CPF</label>
<input type="text" name="cpf" class="form-control" value="{{cliente[4]}}">
</div>

<div class="mb-3">
<label>Endereco</label>
<input type="text" name="endereco" class="form-control" value="{{cliente[5]}}">
</div>

<div class="mb-3">
<label>Cep</label>
<input type="text" name="cep" class="form-control" value="{{cliente[6]}}">
</div>

<div class="mb-3">
<label>Cidade</label>
<input type="text" name="cidade" class="form-control" value="{{cliente[7]}}">
</div>

<div class="mb-3">
<label>Estado</label>
<input type="text" name="estado" class="form-control" value="{{cliente[8]}}">
</div>


<button type="submit" class="btn btn-success">
Salvar
</button>

</form>

{% endblock %}


